venv
venv_test
__pycache__
test.py

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist_ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

internal.md
temp
dev_utils/*
!dev_utils/recursive_context.py
!dev_utils/recursive_context_ts.py
dev.ipynb
debug
runs

datasets/coco8/**
datasets/uma/*
datasets/uma_nav/*
!datasets/uma/raw/
datasets/uma/raw/*
models/base/*

README.ai.md
README.train.md

config.json
build
/dist/
tests/outputs/*
prepare_uma_yolo_dataset.py

dev_train.ipynb
docs/ai/feature/*
!docs/ai/feature/.gitkeep

capture_steam.py
change.patch

.windsurf